<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="manifest" href="static/images/site.webmanifest">
    <title>BLOGGY | Your blog for all thing tech </title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>
    <header>
        <h1>Hello World</h1>
    </header>

    <main>
        <div class="response">
            <h3>Hey {{user}}</h3>
            <p>I think you are {{gender}}</p>
            <p>And maybe {{age}} year of age 🤭</p>
        </div>
    </main>

    <footer>

    </footer>
</body>

</html>