@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Mali:wght@400;500;700&display=swap');

:root {
    --header-font: 'Mali', cursive;
    --body-font: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    background-image: linear-gradient(to right, orangered, orange);
}

header {
    color: #FFCD38;
    background-color: #aca57f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23682727' fill-opacity='0.5'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: var(--header-font);
    height: 10vh;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: #2E0249;
    padding: .5rem 1.5rem;
}

h3 {
    color: #116A7B;
}

main {
    display: grid;
    gap: 2.5rem;
    align-items: center;
    padding-block: 5rem;
}

.blog-box {
    background-color: rgba(248, 248, 248, 0.60);
    max-width: 50%;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 1rem 1rem rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(1rem);
}